@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #292929;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #e6e6e6;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--backgroundColor);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 3s linear infinite;
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero__header h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 span {
  color: var(--primaryColor);

  font-size: 20px;
}

.footer {
  height: 100vh;
  justify-content: center;
  align-items: center;
  --backgroundColor: #292929;
}

.footer span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.reveal {
  background: var(--backgroundColor);
  padding-left: 5%;
  padding-right: 10%;
}

.reveal-text {
  font-weight: 400;
  font-size: 2vw;
  line-height: 80px;
  color: var(--backgroundColor);
  filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));
}

.spacing-small {
  height: 10vh;
}

.spacing {
  height: 40vh;
}

@media screen and (max-width: 500px) {
  .reveal {
    padding-left: 10px;
  }
}

.text-reveal-main {
  display: flex;
  height: 80vh;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 100vh;
  color: rgb(211, 211, 211);
}

.text-reveal-body {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.text-reveal-body p {
  font-size: 3.5vw;
  margin: 0px;
  margin-right: 1.5vw;
  font-weight: 700;
  padding-top: 50px;
}

.text-reveal-body span {
  opacity: 0.2;
}

.heading-9xl {
  font-size: 6rem; /* Adjust the size as needed */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  width: 100%; /* Ensure it spans the full width */
  margin-top: 100px; /* Add some space above, adjust as needed */
  margin-bottom: 20px; /* Add some space below, before the animated content */
}
